*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    overflow: hidden;
}

main{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0); 
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: flex-start;
    flex-wrap: wrap;
   
}
.card{
    /* height: 300px; */
    width: 200px;
    background-color: white;
    text-align: center;
    padding: 10px ;
    border-radius: 10px;
}
.card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}
.card h3{
    font-size: 30px;
    white-space: nowrap; 
}
.card h4{
    font-size: 20px;
    margin-top: 5px;
    color: crimson;
    margin-bottom: 5px;
}
.card p{
    font-size: 12px;
}