*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
h1{
    font-size: 100px;
}
button{
    background-color: darkcyan;
    padding: 10px 20px;
    margin-top: 50px;
    
}