*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;background-color: black;

}
:root {
    --x:100px;
    --y:100px;
}
body{
  
    background-image:url(https://i.pinimg.com/736x/82/fa/d1/82fad1af4b684d4ccc584445118ba6b9.jpg) ;
    background-size: cover;
}
.box{
    height:100% ;
    width: 100%;
    background: radial-gradient(100px at var(--x) var(--y),rgba(255, 255, 255, 0.111) ,rgb(0, 7, 0));
}



