*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    overflow: hidden;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card p{
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 30px;
}
.card p span{
   font-weight: 650;
   color: royalblue;
}
.card{
    height: 200px;
    width: 350px;
    background-color:rgb(231, 224, 224);
    border-radius: 10px;
    padding: 30px;
}
.outer{
    height: 20px;
    width: 100%;
    background-color: rgb(203, 200, 200);
    border-radius: 20px;
}
.inner{
    height: 100%;
    width: 0%;
    background-color: green;
    border-radius: 50px;
}
.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}
.bottom h2{
    font-size: 30px;
    font-family: monospace;
    font-weight: 200;
}
.bottom button{
    padding: 5px 10px;
    background-color: green;
    border-radius: 8px;
    border: 0;
    color: aliceblue;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}
.bottom button:active{
    scale: 0.95;
}