*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    overflow: hidden;
}

main{
    height: 100%;
    background-color: rgb(0, 0, 0);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.card{
    background-color: rgb(142, 129, 129);
   width:200px ; 
   padding: 20px;
   border-radius: 20px;
   position: absolute;
}
.card div{
    position: relative;
    overflow: hidden;
}
.card img{
 width: 100%;  
 height: 180px; 
 object-fit: cover; 
 margin-bottom: 20px;
 border-radius: 20px;
}
h2{
   font-size: 15px;
   text-align: center;
}
.card i{
    position: absolute;
    top: 50%;
    left: 50%;
    color: transparent;
    /* background:linear-gradient(to right bottom, rgb(184, 9, 184),rgb(227, 12, 116)) ; */
    background-image: url(https://imgs.search.brave.com/lZY2AgY5cwSjaeoMltKkCyw7bjRZkGQC9amux_r8AOM/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzE2LzQ2LzM4LzU2/LzM2MF9GXzE2NDYz/ODU2OTZfTGQ4eEsw/eHh1WkdCdWVEMkE0/Qll1MFR1eEtMUnIx/SU0uanBn);
    background-size: cover;
    background-clip:text ;
    -webkit-background-clip: text;
    font-size: 50px;
    opacity: 0;
    transform: translate(-50%,-50%) scale(0) rotate(-90deg);
    transition: all cubic-bezier(.72,.99,.77,1.63) 0.4s; 
}