*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    anchor-name: --some-anchor;
   
}
.box{
    height: 200px;
    width: 200px;
}
.box:hover{
     anchor-name: --some-anchor;
}
.red{
    background-color: red; 
}
.blue{
    background-color: blue;
}
.green{
    background-color:green;
}
.anchor{
    background-color: #b9b9b9;
    border-radius: 10px;
    position: absolute;
    top:anchor(top);
    left:anchor(left);
    bottom: anchor(bottom);
    right: anchor(right);
    pointer-events: none;
    position-anchor: --some-anchor ;
    transition: all 0.3s linear;
    mix-blend-mode: exclusion;
}



